:root {
    --white: #FFF;
    --silver: #DDD;
    --gray: #AAA;
}
/*fonts*/
@font-face {
    font-family: headerText;
    src: url('monof55.woff') format('woff');
}
@font-face {
    font-family: mainText;
    src: url('cream-DEMO.ttf') format('truetype');
}
/*keyframes*/
@keyframes hoverIn {
    from {
        color:var(--gray);
    }
    to {
        color:var(--silver);
    }
}
@keyframes hoverOut {
    from {
        color:var(--silver);
    }
    to {
        color:var(--gray);
    }
}
/*header*/
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headertext {
    font-size: x-large;
}
/*main parts*/
body {
    background: url('bg.png') no-repeat center fixed;
    background-position: fixed;
    background-size: cover;
    background-color:midnightblue;
    margin: 0;
}
header {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-family: headerText, monospace;
    padding: 2em;
    border-bottom: 2px solid var(--gray);;
}
footer {
    background: rgba(0, 0, 0, 0.8);
    font-family: headerText, monospace;
    padding: 2em;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 2px solid var(--gray);;
}
/*text*/
.maintext {
    font-family: monospace;
    font-size: large;
    color:var(--white);
    text-align: center;
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
}
.mainhyperlink {
    color:var(--gray);
    font-weight: bold;
    animation: 0.2s forwards;
}
.mainhyperlink.animate {
    animation-name: hoverOut;
}
.mainhyperlink:hover {
    animation: hoverIn 0.2s forwards;
}
.infotext {
    font-family: monospace;
    font-weight: bold;
    color:var(--white);
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
a {
    text-decoration: none;
}
/*images*/
#pfp {
    border-radius: 100%;
    box-shadow: 0 0 10px white;   
    vertical-align: middle;   
}